<!DOCTYPE html>
<html>

{% load static %}

{% block content %}

<main id="main">

	<!-- ======= Hero Section ======= -->
	<section id="hero">
		<div class="hero-container">
			<div class="row justify-content-center">
				<h2> Hola {{ username }}, haz realizado tu pedido con éxito. </h2>
				<p>
					<b> Resumen del pedido: </b> <br>
                    <b> Productos: </b>
                        {% for i in productos %} 
                            {{ i }} - 
                        {% endfor %} <br>
                    <b> Cantidad Total Productos: </b> {{ cantidad }} <br>
                    <b> Precio Total: </b> {{ precio }} <br> <br>
                    
                    <b> Resumen datos usuario: </b> <br>
                    <b> Nombre: </b> {{ username }} <br>
                    <b> Correo: </b> {{ correo }} <br>
                    <b> Número: </b> {{ numero }} <br> <br>
                    
                    <h3> El equipo de Semillando le agradece su preferencia. </h3>
				</p>
			</div>
		</div>
	</section>
</html>
{% endblock %}