<!DOCTYPE html>
<html>

{% load static %}

{% block content %}

<main id="main">

	<!-- ======= Hero Section ======= -->
	<section id="hero">
		<div class="hero-container">
			<div class="row justify-content-center">
				<h2> Hola {{ username }}, haz realizado tu registro con éxito. </h2>
				<p>
					El equipo de Semillando le agradece su preferencia.
				</p>
			</div>
		</div>
	</section>
</html>
{% endblock %}