{% extends "base.html" %}

{% load static %}


{% block content %}
<body>
  <main id="main">
    <!-- ======= Hero Section ======= -->
    <section id="hero">
      <div class="hero-container">
        <div class="section-title">
          <h3>Bienvenido a <strong>Semillando</strong></h3>
              <h3>Revisa nuestros <span><a href= "#portfolio">Productos</span></h3>
          
        </div>
      </main>

    </section>
    <!-- ======= Portfolio Section ======= -->
    
      <section id="portfolio" class="portfolio">
        <div class="container">  
          <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">Todos</li>
                <li data-filter=".filter-Granola">Granolas</li>
                <li data-filter=".filter-Mantequilla">Mantequillas</li>
                <li data-filter=".filter-Especial">Especiales</li>
              </ul>
            </div>
          </div>
          <div class="row portfolio-container">
            <div class="row portfolio-container">

              {% for x in productos %}
                <div class="col-lg-4 col-md-6 portfolio-item filter-{{x.tipo}}">
                  {% comment %} <img src="{{x.foto.url}}" class="img-fluid" alt="" width="800px" height="600px"> {% endcomment %}
                  <img src="{% static 'img/portfolio/portfolio-1.jpg' %}" class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <h4><strong>{{x.nombre}}</strong></h4> 
                    <p><strong>Valor:</strong> ${{x.precio_actual}}<br><strong>Descripción:</strong> {{x.descripcion}}</p>
                    <p><strong>Ingredientes:</strong> <br>
                      {% for ingrediente in x.ingredientes.all %}
                        - {{ ingrediente }}<p>    
                      {% endfor %}
                      {% comment %} <a href="{{x.foto.url}}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Zoom"><i class="bx bx-zoom-in"></i></a> {% endcomment %}
                    <a href="{% static 'img/portfolio/portfolio-1.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Zoom"><i class="bx bx-zoom-in"></i></a>
                    <a href="{% url 'Add' x.id %} " class="details-link" title="Agregar al Carrito"><i class="bx bx-cart-add"></i></a>
                  </div>    
                </div>
              {% endfor %}
              </section>
      <div class="hero-container">
          <div class="col-">
              <div class="card-header">        
                  <h3><table id="tabla" class =" table-border" style="height: 370px; width: 100;">
              <thead>
                <tr>
                  <th scope="row" colspan="3" class="text-center">CARRITO</th>
                </tr>
                <tr>
                  <th scope="col">NOMBRE</th>
                  <th scope="col">PRECIO</th>
                  <th scope="col">CANTIDAD</th>
                </tr>
              </thead>
              <tbody>
              {% if request.session.carrito.items %}
              {% for key, value in request.session.carrito.items %}
                <tr>
                  <td>{{value.nombre}}</td>
                  <td>{{value.acumulado}}</td>
                  <td>{{value.cantidad}}
                    <a href="{% url 'Sub' value.producto_id %}" class="badge btn btn-dark badge-dark">-</a>
                    <a href="{% url 'Add' value.producto_id %}" class="badge btn btn-dark badge-dark">+</a>
                  </td>
                </tr>
              {% endfor %}
              {% else %}
              <tr>
                  <td colspan="3">
                      <div class="alert alert-danger text-center"> Sin Productos </div>
                  </td>
              </tr>
              {% endif %}
                <tr>
                  <th scope="row">Total:</th>
                  <td colspan="2">$ {{total_carrito}}</td>
                </tr>
              </tbody>
            </table>
            <hr>
            </div>
            <div class="row text-center">
                <div class="col-6"><a href="{% url 'CLS' %}" class="btn btn-danger">Limpiar</a></div>
              
                    <div id = "guardar" class="popup col-6"><a href="{% url 'guardar' %}" class="btn btn-success">Guardar</a></div>
              
          </div>
    </section>

            </div>
          </div>
        </div>
      </section><!-- End Portfolio Section -->
    
          <!-- ======= Services Section ======= -->
      <section id="services" class="services">
        <div class="container">
          <div class="section-title">
            <h2>Comprador</h2>
            <h3>Nunca olvides los estándares de <span>Semillando</span> al momento de querer realizar una compra</hh3>
          </div>

          <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">

              <div class="icon-box">
                <div class="icon"><i class="bx bx-donate-heart"></i></div>
                <h4 class="title">Productos Naturales</a></h4>
                <p class="description">Productos elaborados de forma natural y orgánica.</p>
              </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
              <div class="icon-box">
                <div class="icon"><i class='bx bx-dollar-circle'></i></div>
                <h4 class="title">Precios económicos</a></h4>
                <p class="description">Productos de calidad a precio bajos</p>
              </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-tachometer"></i></div>
                <h4 class="title">Entregas Rápidas</a></h4>
                <p class="description">Compras y entregas  por toda la región del Maule y de Chile</p>
              </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-recycle"></i></div>
                <h4 class="title">Eco-Amigos</a></h4>
                <p class="description">Por cada devolución de envase obtendrás un descuento en tu próxima compra</p>
              </div>
            </div>
            
        </div>
      </div>
    </section><!-- End Services Section -->
  </main>
</body>


{% endblock %}