/* Configuración de la imagen de fondo de la página */
body{
    background-color: black;
    background-image: url('Imágenes/Toreto.jpg');
    background-repeat: no-repeat;
    background-position: relative;
    background-size: cover;
    background-position-x: center;
}

/* Configuración del título de la página por ID*/
#titulo{
    text-align-last: center;
    font-size: 40px;
    font-style: inherit;
    font-weight: 150;
    color: white;
}

/* Configuración de los párrafos de la página por clase*/
.texto{
    text-align: justify;
    font-size: 25px;
    font-style: inherit;
    font-weight: 200;
    color: white;
}

/* Configuración de la barra del menú */
ul li {
    list-style-type: none;
    background-color: white;
    margin-top: 1px;
    width: 100px;
    padding: 12px;
    text-align: center;
    opacity: 0.6;
}

li a{
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: gray;
    color: white;
}

