body{
    background-color: gray;
}

/* Configuración del título de la página por ID*/
#titulo{
    text-align-last: center;
    font-size: 40px;
    font-style: italic;
    font-weight: 150;
    color: black;
    text-shadow: 3px 4px 6px rgb(14, 94, 199);
}

#titulo_2{
    text-align: justify;
    font-size: 25px;
    font-style: inherit;
    font-weight: 150;
    color: black;
    text-shadow: 2px 2px 4px rgb(17, 190, 26);
}

/* Configuración de la barra de hobbies*/
ul li {
    list-style-type: disc;
    margin-top: 1px;
    padding: 12px;
    text-align: left;
}

li a{
    display: block;
    padding: 8px 16px;
    text-decoration: none;
}

/* Configuración de los párrafos de la página por clase*/
.texto{
    text-align: justify;
    font-size: 17px;
    font-style: inherit;
    font-weight: 200;
    color: black;
    text-shadow: 1px 1px 3px rgb(14, 94, 199);
}
