body {
    background-color:#68ecb9;
    }

h1, h2, h3 {
    color:red;
    text-align:center;

    }

h4, h5, h6 {
    color:black;
    text-align: left;
    }

/* Estilo por ID */
#par0 {
    text-align: center;
    color: gray;
    }

#par1 {
    text-align: center;
    color: green;
    }

/* Estilo por clase */
.centrado_rojo {
    text-align: center;
    color: red;
    font-size: 50px;
    }

/* Estilo por clase */
.centrado_rojo {
    text-align: center;
    color: red;
    font-size: 50px;
    }

/* Estilo por clase */
.izquierda_gris {
    text-align: left;
    color: grey;
    font-size: 100px;
    }