body {
    background-color: white;
}
h1, h2, h3, h4, h5, h6 { 
    color:red; 
    text-align:center;
}

/* estilo por ID */
#par0 {
    color: brown;
}

#par1 {
    text-align: center;
    color: green;
}

/* estilo por clase */
.centradoyrojo {
    text-align: center;
    color: red;
    font-size: 50px;
}
