{% extends "base_graficos.html" %}

{% block content %}
<main id="main">
    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <div class="hero-container">
            <div class="row justify-content-center">                    
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-12">
                            <h3><span>Eliminar Producto</span></h3>
                        </div>
                        <div class="card-body"><h3>
                            <form action="{{ producto.id }}" method="post">
                                {% csrf_token %}
                                <label for="firstname" class="form-label">Nombre del Producto</label>
                                    <input type="text" class="form-control" 
                                    value='{{ producto.nombre }}' disabled>
                                <p></p>
                                <button type="submit" class="btn btn-primary">Eliminar</button>
                                <a href="../" class="btn btn-danger">Cancelar</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
