/* Configuración de la imagen de fondo de la página */
body{
    background-color: black;
    background-image: url('Imágenes/Logo.jpg');
    background-repeat: no-repeat;
    background-position: relative;
    background-size: cover;
    background-position-x: center;
}

/* Configuración del título de la página por ID*/
#titulo{
    text-align-last: center;
    font-size: 40px;
    font-style: italic;
    font-weight: 150;
    color: black;
}

#titulo_2{
    text-align-last: center;
    font-size: 23px;
    font-style: inherit;
    font-weight: 150;
    color: black;
}

img.part1{
    width: 230px;
    height: 230px;
    border-radius: 10%;
    float: left;
    border:2px solid white;
}

img.part2{
    width: 230px;
    height: 230px;
    border-radius: 10%;
    float: right;
    border:2px solid white;
}