<!DOCTYPE html>
<html>
    
<head>
	<title> Contáctanos </title>
</head>
{% extends "base_graficos.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<main id="main">

<!-- ======= Hero Section ======= -->
<section id="hero">
	<div class="hero-container">
		<div class="row justify-content-center">
            <h3> Contáctanos <h3>
            <form class = "form-register" method="POST" action="">
                {% csrf_token %}
                <div class="d-flex justify-content-center mt-3 login_container"> 
                    <p> Nombre: <input type="text" name="nombre"></p>
                </div>
                <div class="d-flex justify-content-center mt-3 login_container">
                    <p> Correo: <input type="text" name="mail"></p>
                </div>
                <div class="d-flex justify-content-center mt-3 login_container">
                    <p> Número: <input type="text" name="numero"></p>
                </div>
                <div class="d-flex justify-content-center mt-3 login_container">
                    <p> Mensaje: <textarea type="text" name="mensaje" rows="8" cols="30"></textarea></p>
                </div>
                <div class="d-flex justify-content-center mt-3 login_container">    
                    <input class="btn btn-primary" type="submit" value="Enviar">
                </div>
            </form>
        </div>
    </div>
</section>
</html>
{% endblock %}

