<!DOCTYPE html>
<html>

{% load static %}

{% block content %}

<main id="main">

	<!-- ======= Hero Section ======= -->
	<section id="hero">
		<div class="hero-container">
			<div class="row justify-content-center">
				<h2> El cliente {{ username }}, necesita tu ayuda. </h2>
				<p>
					<b> Mensaje: </b> <br>
                    {{ mensaje }} <br> <br> 

                    <b> Los datos son de la persona son: </b> <br>
                    <b> Nombre: </b> {{ username }} <br>
                    <b> Correo: </b> {{ mail }} <br>
                    <b> Número de teléfono: </b> {{ numero }}
				</p>
			</div>
		</div>
	</section>
</html>
{% endblock %}