{% extends "base_graficos.html" %}

{% block content %}
<main id="main">
    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <div class="hero-container">
            <div class="container">  
                <div id="chartContainer2" style="height: 370px; width: 100%;"></div>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block footer%}{% endblock %}

    {% block others_js %}
    <script type = "text/javascript">
    $(document).ready(function() {
        let dataej = {{ dataejemplares|safe }};
        console.log(dataej);
        let options2 = {
        title: {
            text: "Productos Solicitados"
        },
        animationEnabled: true,
        exportEnabled: true,
        data: [
          {
            type: "column",
            dataPoints: dataej
            }
        ],
        axisX:{
            title:"Producto Comprado",
        },
        axisY:{
            title:"Cantidad de Encargos",
            interval: 1,
        },
    };
        $("#chartContainer2").CanvasJSChart(options2);
    });
    </script>
    {% endblock %}
</body>