{% extends "base.html" %}

{% block content %}
<main id="main">
    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <div class="hero-container">
            <div class="row justify-content-center">                    
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-12">
                            {% if isadd %}
                                <h3><span>Agregar Tipo de Productos</h3></span>
                                {% else %}
                                    <h3><span>Actualizar Tipos de Productos</h3></span>
                                {% endif %}
                                </div><h3>
                                    {% if isadd %}
                                        <form action="." method="post">
                                            {% else %}
                                                <form action="{{ tipo_producto.id }}" method="post">
                                            {% endif %}
                                            {% csrf_token %}
                                            <table width="100%">
                                                {{ form.as_table }}
                                            </table>
                                            <p></p>
                                            {% if isadd %}
                                                <button type="submit" class="btn btn-primary">Agregar</button>
                                            {% else %}
                                                <button type="submit" class="btn btn-primary">Actualizar</button>
                                            {% endif %}
                                            <a href="../" class="btn btn-danger">Cancelar</a>
                                        
                                        </form>
                                </h3></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">
    
        <div class="section-title">
            <h2>Nunca lo olvides</h2>
            <h3>Como vendedor de <span>Semillando</span> nunca olvides nuestra esencia</hh3>
        </div>
    
        <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
                <div class="icon"><i class="bx bx-donate-heart"></i></div>
                <h4 class="title">Productos Naturales</a></h4>
                <p class="description">Productos elaborados de forma natural y orgánica.</p>
            </div>
            </div>
    
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
                <div class="icon"><i class='bx bx-dollar-circle'></i></div>
                <h4 class="title">Precios económicos</a></h4>
                <p class="description">Productos de calidad a precio bajos</p>
            </div>
            </div>
    
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-tachometer"></i></div>
                    <h4 class="title">Entregas Rápidas</a></h4>
                    <p class="description">Compras y entregas  por toda la región del Maule y de Chile</p>
                </div>
            </div>
    
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-recycle"></i></div>
                    <h4 class="title">Eco-Amigos</a></h4>
                    <p class="description">Por cada devolución de envase obtendrás un descuento en tu próxima compra</p>
                </div>
            </div>
        </div>
        </div>    
    </section><!-- End Services Section -->
</main>
{% endblock %}
