<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ settings.PROJECT_NAME }} - {{ settings.PROJECT_TITLE}} ({{ settings.PROJECT_VERSION }})</title>

        {% include "boostrap.html" %}
            {% block others_css %}
        {% endblock %}
    </head>

    <body>
        <!-- navbar -->
        {% block navbar %}
            {% include "navbar.html" %}
        {% endblock %}

        {% block content %}{% endblock %}
        
        {% include "javascript.html" %}
            {% block others_js %}
        {% endblock %}
    </body>
</html>