<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <title>{% block title %} {% endblock %}</title>
   
    <meta charset="utf-8" />
    <!-- Favicons -->
    <link href="{% static 'img/semillando.png'%}" rel="icon" />
    <link
      href="{% static 'img/semillando.png' %}"
      rel="apple-touch-icon"
    />
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />
    <!-- Vendor CSS Files -->
    <link
      href="{% static  'vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static  'vendor/bootstrap-icons/bootstrap-icons.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static  'vendor/boxicons/css/boxicons.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static  'vendor/glightbox/css/glightbox.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static  'vendor/remixicon/remixicon.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static  'vendor/swiper/swiper-bundle.min.css' %}"
      rel="stylesheet"
    />

    <!-- Template Main CSS File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <!-- datatable -->
  

    
</html>
