<!-- ======= Cta Section ======= -->
<section id="cta" class="cta">
  <div class="container">
    <div class="text-center">
      <h3>Semillando</h3>
      <p>
        Talca, Loteo Barros Negros<br>
        Chile<br>
        <strong>Celular:</strong> +569 4515 9150<br>
        <strong>Correo de Contacto:</strong> semillando@semillando.cl<br>
      </p>
    </div>
    <div class="footer-top">
      <div class="container">
        <div class="row"
          <div class="container d-md-flex py-4">
            <div class="social-links text-center text-md-right pt-3 pt-md-0">
              <a href="https://www.instagram.com/semillando._/" class="instagram"><i class="bx bxl-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>
</section><!-- End Cta Section -->
<footer id="footer">
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
   <!-- ======= Footer ======= -->
   
</footer><!-- End Footer -->