{% extends "base.html" %}

{% load static %}

{% block content %}
<style>
  /* Red border */
  hr.new1 {
    border: 2px solid red;
  }
  
  }
</style>
<main id="main">
  
  <!-- ======= Hero Section ======= -->
  <section id="hero">
   <div class="hero-container">
     <h3>Bienvenido a <strong>Semillando</strong></h3>
     <h1>Somos Semillando</h1>
     <a href="#about" class="btn-get-started btn-learn-more"
       >¿Quienes Somos?</a
     >
   </div>
 </section>
 <!-- End Hero -->
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">

      <div class="section-title">
        <h2>Información</h2>
        <h3>¿Qué es <span>Semillando?</span></h3>
        <p> Semillando es una pyme familiar que se dedica a vender productos naturales a base de frutos secos
      </div>

      <hr class = "new1">
      
    </div>
 <!-- ======= Services Section ======= -->
 <section id="services" class="services">
  <div class="container">

    <div class="section-title">
      <h2>Características</h2>
      <h3>¿Por qué escoger <span>Semillando</span>?</h3>
      <p>Porque somos vios  </p>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-donate-heart"></i></div>
          <h4 class="title">Productos Naturales</a></h4>
          <p class="description">Productos elaborados de forma natural y orgánica.</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box">
          <div class="icon"><i class='bx bx-dollar-circle'></i></div>
          <h4 class="title">Precios económicos</a></h4>
          <p class="description">Productos de calidad a precio bajos</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-tachometer"></i></div>
          <h4 class="title">Entregas Rápidas</a></h4>
          <p class="description">Compras y entregas  por toda la región del Maule y de Chile</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-recycle"></i></div>
          <h4 class="title">Eco-Amigos</a></h4>
          <p class="description">Por cada devolución de envase obtendrás un descuento en tu próxima compra</p>
        </div>
      </div>

    </div>

  </div>
    
  </section><!-- End Services Section -->
 
  
  

      <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <!-- ======= Footer ======= -->
 
</main>





{% endblock %}