{% load static %}

<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
<!-- Vendor JS Files -->
<script type = "text/javascript" src= "{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script type = "text/javascript" src= "{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
<script type = "text/javascript" src= "{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script type = "text/javascript" src= "{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>


<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>



<!-- canvasjs -->
<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>



<!--Datatables scripts-->
<script src="{% static 'datatables/Buttons-1.5.6/js/dataTables.buttons.min.js' %}"></script>   
<script src="{% static 'datatables/JSZip-2.5.0/jszip.min.js' %}"></script>    
<script src="{% static 'datatables/pdfmake-0.1.36/pdfmake.min.js' %}"></script>    
<script src="{% static 'datatables/pdfmake-0.1.36/vfs_fonts.js' %}"></script>
<script src="{% static 'datatables/Buttons-1.5.6/js/buttons.html5.min.js'%}"></script>

<!-- datatables JS -->
<script type="text/javascript" src="{% static 'datatables/datatables.min.js' %}"></script>  