<head>
  <title>A</title>
</head>
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center justify-content-between">
    <h1 class="logo"><a href=" {% url 'home' %}">Semillando</a></h1>
    <nav id="navbar" class="navbar">
      <ul>
        {% if user.is_authenticated %}
          <!-- Cliente -->
          {% if user.groups.all.0|stringformat:"s" == "Cliente" %}
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class = " bi bi-cart"></i> <b> Carrito</b>
            </a>
            <li class="nav-item active">
              <a class="nav-link scrollto" href="/cliente/Pedidos"> Mis Pedidos </a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">
              |<i class="bi bi-person"></i> <b>{{ user.groups.all.0 }} - {{ user }}</b></a>
            </li>
            <li class="nav-item"><a class="nav-link" href="{% url 'logout'%}"><i class="bi bi-box-arrow-right"></i> Salir</a></li>
          </li>
          
          <!-- Vendedor -->
          {% elif user.groups.all.0|stringformat:"s" == "Vendedor" %}
          
          <li class="nav-item active">
            <a class="nav-link scrollto" href="/vendedor/Detalles"> Historal de Pedidos </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link scrollto" href="/vendedor/Clientes"> Clientes </a>
          </li>
            
          <li class="dropdown"><a href="#"><span>Inventario</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li>
                  <li class="nav-item active">
                    <a class="nav-link scrollto" href="/vendedor/productos"> Productos </a>
                  </li>
              </li>
              <li class="nav-item active">
                <a class="nav-link scrollto" href="/vendedor/ingredientes"> Ingredientes </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link scrollto" href="/vendedor/tipo_producto"> Tipo Productos </a>
              </li>
            </ul>
          </li>
            <!--Dropdown para el rendimiento (ventana de vendedor)-->
            <li class="dropdown"><a href="#"><span>Rendimiento</span> <i class="bi bi-chevron-down"></i></a>
              <ul>
                <li>
                  <li class="nav-item active">
                    <a class="nav-link scrollto" href="/vendedor/grafico_productos">Productos </a>
                  </li>
                </li>
                <li class="nav-item active">
                  <a class="nav-link scrollto" href="/vendedor/grafico_ingredientes"> Ingredientes </a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link scrollto" href="/vendedor/grafico_compras">Compras</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                | <i class="bi bi-person"></i> <b>{{ user.groups.all.0 }} - {{ user }}</b></a>
            </li>
            <li class="nav-item"><a class="nav-link" href="{% url 'logout'%}"><i class="bi bi-box-arrow-right"></i> Salir</a></li>
          {% endif %}
          {% else %}
          <li class="nav-item active">
            <a class="nav-link scrollto" href="/cliente/Correos/contacto"> Contáctanos </a>
          </li>
            <li><a class="nav-link scrollto" href="{% url 'registro'%}">Registrate</a></li>
              <li><a class="nav-link scrollto" href="{% url 'login'%}">Ingresar</a></li>            
            {% endif %}  
        </ul>
      </nav>
      <!-- .navbar -->
    </div>
  </header>

