/* Configuración de la imagen de fondo de la página */
body{
    background-color: black;
    background-image: url('Imágenes/Viajes.jpg');
    background-repeat: no-repeat;
    background-position: relative;
    background-size: cover;
    background-position-x: center;
}

/* Configuración del título de la página por ID*/
#titulo{
    text-align-last: center;
    font-size: 40px;
    font-style: italic;
    font-weight: 150;
    color: black;
}

#titulo_2{
    text-align-last: center;
    font-size: 23px;
    font-style: inherit;
    font-weight: 150;
    color: black;
}

/* Configuración de los párrafos de la página por clase*/
.texto{
    text-align-last: left;
    font-size: 25px;
    font-style: inherit;
    font-weight: 200;
    color: black;
    text-shadow: 5px 5px 5px white;
}

/* Configuración de los párrafos de la página por clase*/
.texto_2{
    text-align-last: center;
    font-size: 20px;
    font-style: italic;
    font-weight: 200;
    color: black;
    text-shadow: 5px 5px 5px white;
}

/* Configuraciones básicas de la tabla */
#tabla{
    border-collapse: collapse;
    width: 100%;
}

#tabla td, #tabla th{
    border: 1px solid black;
    padding: 15px;
}

#tabla th{
    background-color: cyan;
    opacity: 0.5;
}

#tabla td{
    text-align: center;
}

/* Se cambia el color del fondo según donde se encuentre el cursor */
#tabla tr:hover {
    background-color: grey;
    opacity: 0.8;
}