{% extends "base_graficos.html" %}

{% block content %}
<main id="main">
    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <div class="hero-container">
            <div class="container" border = "5px" style="height: 370px; width: 100%;">
                <h1>
        
                <div id="chartContainer1"></div>
            </div>
        </div>
    </div>

    {% endblock %}
    {% block footer%}{% endblock %}
    {% block others_js %}
    <script>
    $(document).ready(function() {
        // https://canvasjs.com/jquery-charts/
        let dataarticulos = {{ dataarticulos|safe }};
        let options1 = {
            title: {
                text: "Encargos"
            },
            theme: "light2",
            animationEnabled: true,
            exportEnabled: true,
            data: [
                {
                type: "pie", //change it to line, area, column, pie, etc
                //lineColor:"green",
                //lineDashType: "dash",
                dataPoints: dataarticulos,
               /// xValueFormatString:"Año ####",
                }
            ],
            axisX:{
                title:"Año",
                //valueFormatString: "####",
                //interval: 1,
            },
            axisY:{
                title:"# Artículos",
            },
        };
        $("#chartContainer1").CanvasJSChart(options1);
    });
    </script>
    {% endblock %}
</body>