body{
    background-color: white;
}

/* Configuración del título de la página por ID*/
#titulo{
    text-align-last: center;
    font-size: 40px;
    font-style: italic;
    font-weight: 150;
    color: black;
}

#titulo_2{
    text-align: justify;
    font-size: 25px;
    font-style: inherit;
    font-weight: 150;
    color: black;
}

/* Configuración de los párrafos de la página por clase*/
.texto{
    text-align: justify;
    font-size: 16px;
    font-style: inherit;
    font-weight: 200;
    color: black;
}

/* Configuraciones básicas de la tabla */
#tabla{
    border-collapse: collapse;
    width: 100%;
}

#tabla td, #tabla th{
    border: 1px solid black;
    padding: 15px;
}

#tabla th{
    background-color: cyan;
}

#tabla td{
    text-align: center;
}

/* Se cambia el color del fondo según donde se encuentre el cursor */
#tabla tr:hover {
    background-color: rgb(155, 245, 245);
}