{% extends "base_datatables.html" %}

{% load static %}

{% block content %}

<head>
    <style>
        table th {
            background-color: #337ab7 !important;
            color: white;
            font-size: 18px !important;
        }
        table>tbody>tr>td {
            vertical-align: middle !important;
            font-size: 18px !important;
        }
        
        
    </style>
</head>
<main id="main">
    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <div class="hero-container">
            <div class="col-10">
                <h2><p></p><h2> 
                <div class="card-header">   
                    <h2><p></p><h2>     
                    <h3><table id="tabla" class =" table-striped" style="height: 370px; width: 100%;">
                        <thead class = "thead-dark">
                            <tr>
                                <th>Encargado</th>
                                <th>Producto</th>
                                <th>Precio Unitario</th>
                                <th>Cantidad</th>
                                <th>Precio Total</th>
                                <th>Fecha de Encargo</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for x in detalles %}
                                <tr>
                                    <td>{{x.encargo}}</td>
                                    <td>
                                    {% for productos in x.producto.all %}
                                        {{ productos }}<br>
                                    {% endfor %}
                                    </td>
                                    <td>{{x.precio_venta_antiguo}}</td>
                                    <td>{{x.cantidad}}</td>
                                    <td>{{x.precio_final}}</td>
                                    <td>{{x.echa_encargo}}
                                        
                                        </td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </h3></table>
                </div>
            </div>
        </div>
    </section>
      <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">
    
          <!-- ======= Services Section ======= -->
          <section id="services" class="services">
            <div class="container">
              <div class="section-title">
                <h2>Comprador</h2>
                <h3>Nunca olvides los estándares de <span>Semillando</span> al momento de querer realizar una compra</hh3>
              </div>
    
              <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
    
                  <div class="icon-box">
                    <div class="icon"><i class="bx bx-donate-heart"></i></div>
                    <h4 class="title">Productos Naturales</a></h4>
                    <p class="description">Productos elaborados de forma natural y orgánica.</p>
                  </div>
                </div>
    
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                  <div class="icon-box">
                    <div class="icon"><i class='bx bx-dollar-circle'></i></div>
                    <h4 class="title">Precios económicos</a></h4>
                    <p class="description">Productos de calidad a precio bajos</p>
                  </div>
                </div>
    
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                  <div class="icon-box">
                    <div class="icon"><i class="bx bx-tachometer"></i></div>
                    <h4 class="title">Entregas Rápidas</a></h4>
                    <p class="description">Compras y entregas  por toda la región del Maule y de Chile</p>
                  </div>
                </div>
    
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                  <div class="icon-box">
                    <div class="icon"><i class="bx bx-recycle"></i></div>
                    <h4 class="title">Eco-Amigos</a></h4>
                    <p class="description">Por cada devolución de envase obtendrás un descuento en tu próxima compra</p>
                  </div>
                </div>
                
            </div>
          </div>
        </section><!-- End Services Section -->
</main>               
<!-- End Hero -->
{% endblock %}


{% block others_js %}
<script type = "text/javascript">


    $(document).ready(function() {
        $('#tabla').DataTable({
            "pageLength" : 2,
            "lengthMenu": [[2], [2]],
            "language": {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Productos",
                "infoEmpty": "No hay productos agregados",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Productos",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            "columnDefs": [
                {"targets": 0, "orderable": false, "className": "dt-center"},
                {"targets": 1, "orderable": false, "className": "dt-center "},
                {"targets": 2, "orderable": false, "className": "dt-center"},
                {"targets": 3, "orderable": false, "className": "dt-center"},
                {"targets": 4, "orderable": false, "className": "dt-center"}
                
            ],
             //para usar los botones   
        responsive: "true",
        dom: 'Bfrtilp',       
        buttons:[ 
			{
				extend:    'excelHtml5',
				text:      '<i class="fas fa-file-excel"></i> ',
				titleAttr: 'Exportar a Excel',
				className: 'btn btn-success',
				exportOptions: {
					columns: [0,1,2,3,4]
				}
			},
			{
				extend:    'pdfHtml5',
				text:      '<i class="fas fa-file-pdf"></i> ',
				titleAttr: 'Exportar a PDF',
				className: 'btn btn-danger',
				exportOptions: {
					columns: [0,1,2,3,4]
				}
			},
		]	        
        });
    });
</script>
{% endblock %}
