/* Estilo del fondo de las páginas (Se indican las versionas para cada navegador) */
body{
    background: #360033;  /* Respaldo para navegadores antiguos */
    background: -webkit-linear-gradient(to right, #0b8793, #360033);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0b8793, #360033); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Estilo título */
.titulo{
    text-align-last: center;
    font-size: 20px;
    font-style: italic;
    font-weight: 150;
    color: white;
    text-shadow: 5px 5px 5px black;
    font-family: 'Times New Roman', Times, serif;
}