body {
    color: black;
    background-color: silver;
    padding-left: 11em;
    font-family: 'BhuTuka Expanded One', cursive;
}
h1 {
    color: green;
    font-family: 'Lobster', cursive;
    /*font-family: 'Dancing Script', cursive;*/
    /*font-family: 'Shadows Into Light', cursive;*/
}
ul.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
        
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em;
}
ul.navbar li {
    background: white;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid black 
}
ul.navbar a { 
    text-decoration: none 
}
a:link { 
    color: blue 
}
a:visited { 
    color: purple
}

/* una clase */
.center {
    text-align: center;
    color: red;
}

/*
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
}
*/
