/* Estilo del fondo de las páginas (Se indican las versionas para cada navegador) */
body{
    background: #360033;  /* Respaldo para navegadores antiguos */
    background: -webkit-linear-gradient(to right, #0b8793, #360033);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0b8793, #360033); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Estilo título */
.titulo{
    text-align-last: center;
    font-size: 20px;
    font-style: italic;
    font-weight: 150;
    color: white;
    text-shadow: 5px 5px 5px black;
    font-family: 'Times New Roman', Times, serif;
}

/* Estilo título */
.subtitulo{
    text-align-last: left;
    font-size: 15px;
    font-style: italic;
    font-weight: 150;
    color: white;
    text-shadow: 5px 5px 5px black;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
}

/* Configuración de los párrafos de la página por clase*/
.texto{
    text-align: justify;
    font-size: 20px;
    font-style: inherit;
    font-weight: 200;
    color: white;
    text-shadow: 3px 3px 3px black;
    font-family: 'Times New Roman', Times, serif;
}

/* Configuración de los pies de foto de la página por clase*/
.pie_img{
    text-align: right;
    font-size: 20px;
    font-style: inherit;
    font-weight: 200;
    color: white;
    text-shadow: 3px 3px 3px black;
    font-family: 'Times New Roman', Times, serif;
}

/* Estilo barra de navegación */
#ul_nav{
    list-style-type: none;
    margin: 0;
    border: 1px solid white;
    text-shadow: 3px 3px 3px black;
    padding: 0;
    overflow: hidden;
    background-color:#0b8793;
}

/* Posición del menú */
.li_nav{
    float: left;
    border-right: 0.5px solid #bbb;
    border-left: 0.5px solid #bbb;
}

/* Estilo links barra de navegación */
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-shadow: 3px 3px 3px black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Cambiar el color de la selección */
li a:hover, .dropdown:hover .dropbtn {
    background-color: #360033;
    color: white;
    text-shadow: 3px 3px 3px black;
}

li.dropdown {
    display: inline-block;
}

/* Estilo de la barra tipo dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    opacity: 0.8;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Estilo del texto de la barra tipo dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Color de selección dentro de la barra tipo dropdown */
.dropdown-content a:hover {background-color:#0b8793;}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Destacar una parte de la barra en particular */
.active {
    background-color:#360033;
}


/* Configuraciones básicas de la tabla */
#tabla{
    border-collapse: collapse;
    width: 25%;
}

#tabla td, #tabla th{
    border: 1px solid white;
    color: white;
    text-shadow: 3px 3px 3px black;
    padding: 15px;
}

#tabla th{
    background-color: #360033;
}

#tabla td{
    text-align: center;
}

/* Estilo de las imágenes*/
.imagen{
    display: block;
    margin: 0px 20px;
    width: 400px;
    height: auto;
    justify-content: center;
    border-radius: 10%;
    float: right;
    border:2px solid white;
}

/* Estilo de las listas */
#lista{
    list-style: inherit;
}

/* Estilo de los atributos de las listas */
.atributo_lista{
    color: white;
    text-shadow: 3px 3px 3px black;
    text-align: left;
    padding: 14px 16px;
}

/* Estilo de las imágenes*/
.imagen_admin{
    display: block;
    margin: 80px 200px;
    width: 300px;
    height: auto;
    justify-content: center;
    border-radius: 10%;
    float: left;
    border:2px solid white;
}