<!DOCTYPE html>
<html lang="en">

    {% extends 'base_graficos.html' %}
    {% load static %}
    {% block content %}
    <head>
        <title>Semillando</title>
    </head>
    <body>
    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <div class="hero-container">
            {% if form.errors %}
                        <div class="alert alert-danger">
                            El  y/o clave son incorrectos, intente de nuevo.
                        </div>
                    {% endif %}
                
                    {% if next %}
                        {% if user.is_authenticated %}
                            <div class="alert alert-danger">
                                Esta cuenta no tiene acceso a esta página. 
                                Para continuar, inicie sesión con una cuenta que tenga acceso.
                            </div>
                        {% endif %}
                    {% endif %}
                    <div class="form-body">
                        <div class="row">
                            <div class="form-holder">
                                <div class="form-content">
                                    <div class="form-items">
                                        <h3>Ingresar Credenciales</h3>
                                        <h3>
                                            <p>
                                                <br><form class="requires-validation" novalidate method="post" action = "{% url 'login' %}">
                                                    {% csrf_token %}
                                                    <div class="col-md-12">
                                                        <input type="text" class="form-control" autofocus autocapitalize="none" 
                                                        autocomplete="username" maxlength="150" required id="id_username" 
                                                        name="username" placeholder = "Correo">    
                                                    </div>
                                                    <p></p>
                                                    <div class="col-md-12">
                                                        <input type="password" class="form-control" name="password" 
                                                        autocomplete="current-password" required id="id_password" placeholder = "Clave">
                                                    </div>
                                                        <div class="form-button mt-3">
                                                            <button type="submit" class="btn btn-primary">Ingresar</button>
                                                                <input type="hidden" name="next" value="{{ next }}" />
                                                        </div>
                                                </br></form>
                                    </div>
                                </div>
                            </div>
                    <script>
                        (function () {
                            'use strict'
                            const forms = document.querySelectorAll('.requires-validation')
                            Array.from(forms)
                            .forEach(function (form) {
                                form.addEventListener('submit', function (event) {
                                if (!form.checkValidity()) {
                                    event.preventDefault()
                                    event.stopPropagation()
                                }
                            
                                form.classList.add('was-validated')
                                }, false)
                            })
                            })()
                        </script>                        
                </div>
            </div>
    {% block footer %}{% endblock %}
    </section>
</html>
{% endblock %}