<!DOCTYPE html>
<html>
    
<head>
	<title>Registro</title>
</head>

{% extends "base_graficos.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<main id="main">

<!-- ======= Hero Section ======= -->
<section id="hero">
	<div class="hero-container">
		<div class="row justify-content-center">
		<h3><form class ="form-register" method="POST" action="">
			{% csrf_token %}
			{{ form | crispy}}
			
			<div class="d-flex justify-content-center mt-3 login_container">
				<input class="btn btn-primary" type="submit" value="Registrarse">
			</div>

		</form>
	</div>

			

</body>
</html>

{% endblock %}